PORT=your_port_number
TMDB_BEARER_TOKEN=your_tmdb_bearer_token

#group_project_backend_3 is the database name
DATABASE_URL=your_database_url
AUTH_ISSUER=your_auth_issuer
API_AUDIENCE=your_api_audience
CORS_ALLOWED_ORIGINS=your_cors_allowed_origins